
.gallery__nelson{
    border-bottom: 1px solid rgb(154, 138, 120);
}
.gallery__title {
    text-transform: capitalize;
    font-size: 30px;
    color: rgb(154, 138, 120);

}

.gallery__text {
    font-size: 16px;
    line-height: 1.8em;
    color: white;
    max-width: 619px;
    padding-bottom: 10px;
    font-weight: 400;

}

.gallery__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: auto;
    gap: 30px;
    margin-bottom: 60px;
    

}

.gallery__left {
    margin-bottom: 40px;
}

.gallery__span {
    position: absolute;

    top: 50%;
    width: 100%;
    height: 100%;
    text-align: center;
    display: block;
    font-size: 26px;
    cursor: pointer;

}

.gallery__position {
    position: relative;


}

.gallery__middle {
    margin-bottom: 30px;
}