.nav {
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 40px;


}

.nav__mobile {
    display: none;
}

.nav__list {
    display: flex;


}

.nav__item {
    list-style: none;
    width: 71px;
    padding-right: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;



}

.nav__item--select {
    border: 1px solid white;
    text-transform: capitalize;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    width: 80px;
    height: 40px;
    padding-left: 20px;
    margin-left: 40px;


}

.nav__item a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    display: inline-block;
    max-width: 100%;
    max-height: 100%;

}

.nav__pages {
    display: none;
}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 900px) {

    .nav {
        display: flex;
        justify-content: flex-end;
        display: block;


    }

    .nav__mobile {
        display: block;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        display: flex;
        margin-bottom: 30px;
        color: white;
        font-size: 30px;
        cursor: pointer;


    }

    .nav__item--select {
        display: none;
    }

    .nav__list {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        margin-top: 30px;

    }

    .nav__item {
        padding-bottom: 30px;
        padding-right: 40px;
    }

    .nav__pages {
        display: flex;
        padding-right: 40px;
        justify-content: flex-end;
        align-items: flex-end;

    }

    .nav__page {
        list-style-type: none;
        padding: 5px;
    }

    .nav__link {
        text-decoration: none;
        display: block;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}