.service {
    margin-top: 40px;

}

.service__content {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;

}

.service__area {
    height: 422px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(154, 138, 120);
    width: 100%;


}

.service__area:first-child {
    height: 422px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(154, 138, 120);

}

.service__title--h2 {
    color: white;
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 600;
    margin-top: 10px;

}


.service__items {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    max-width: 230px;
    border: 1pxsolid red;
}

.service__title--h3 {
    font-size: 30px;
    color: rgb(154, 138, 120);
    text-transform: capitalize;
    font-weight: 400;
    margin-top: 10px;
}
.service__remove--space{
    margin-bottom: 0;
}

.service__text {
    font-size: 16px;
    color: white;
    line-height: 1.8em;
}

.service__img {
    object-fit: cover;
    object-position: 50% 50%;

}

.service__title {
    color: white;
    font-size: 30px;
    font-weight: 500;
    text-transform: capitalize;
}

.service__title--list {
    color: white;
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}

.service__list {
    color: white;
    font-size: 16px;
    line-height: 2em;
}


.service__item {
    padding-left: 30px;
}


.service__content {}

.service__content {}

.service__content {}