.service {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 287px;



}

.service__first {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(107, 94, 78);
    border-top: none;
    border-right: none;
    
}

.service__second {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(107, 94, 78);
    border-top: none;
    border-right: none;

}

.service__third {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(107, 94, 78);
    border-top: none;
    border-right: none;

}

.service__fourth {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(107, 94, 78);
    border-top: none;

}

.service__text {
    color: white;
    line-height: 1.4em;
    font-size: 18px;
    text-align: center;

}
.service__text::first-letter{
    text-transform: capitalize;
}

svg {
    width: 60px;
    height: 60px;
    text-align: center;
    width:100%;
}