/* Colors */

$color-white: #fff;
$color-black: #000;
$color-orange: rgb(244, 162, 102);
$color-primary: #222;
$color-highlight: rgb(245, 112, 130);
$color-good: rgb(38, 126, 62);
$color-grey: #9c9c9c;
$color-surface: rgb(248, 248, 248);

/* Spacing */
$space-xxs: 4px;
$space-xs: 8px;
$space-s: 16px;
$space-m: 24px;
$space-l: 48px;
$space-xl: 60px;
$space-xxl: 100px;

/* Font */
$font-base: 18px;
$font-xxs: 12px;
$font-xs: 14px;
$font-s: 16px;
$font-m: 20px;
$font-l: 24px;
$font-xl: 36px;
$font-xxl: 44px;